@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,200&display=swap');

/* copied in from another project - please edit! */

/* variables */
/* :root {
  --font-family: 'Source Sans Pro', sans-serif;
  --normal-font: 500;
  --bold-font: 700;
  --bolder-font: 900;
  --primary-bg: white;
  --secondary-bg: white;
  --transparent-bg: rgba(255, 255, 255, .78);
  --primary-color: black;
  --bottom-margin: 0.5rem;
} */

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: var(--font-family);
  background-color: var(--primary-bg); */
  margin: 0;
  background-color: aliceblue;
}

#app-container {
  height: 100vh;
  margin: 0;
}

/* NAVBAR */
.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: bisque;
}

.logo-name {
  display: flex;
  width: 20%;
}

#name {
  align-self: center;
  margin-left: 10px;
}

#logo-img {
  overflow: hidden;
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  border: 1px solid;
  border-radius: 15px;
}

.all-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin-right: 20px;
}

.nav-bar-links {
  text-decoration: none;
  color: black;
}

/* Home Page/All Products */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.coffee-container {
  width: 200px;
  height: 250px;
  border: 1px solid;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.coffee-img {
  overflow: hidden;
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  border: 1px solid;
  border-radius: 15px;
}

.sort-search-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.pagination {
  width: 300px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

/* 
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

/* navbar */
/* nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--primary-bg);
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: 0.3s;
}

.navlist a:hover {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

  /* hamburger menu */
/* .menu {
      position: fixed;
      transform: translateY(-100%);
      transition: transform 0.2s;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 99;
      background: var(--primary-bg);;
      color: var(--primary-color);
      list-style: none;
      padding-top: 4rem;
      visibility: hidden;
  }

  .menuItem {
      display: block;
      margin: 2rem 4rem;
      font-size: 1.8rem;
      color: var(--primary-color);
      text-decoration: none;
  }
    
  .menuItem:hover {
      color: var(--primary-color);
      border-bottom: 2px solid var(--primary-color);
  }
    
  .hamburger {
      position: fixed;
      z-index: 100;
      top: 1rem;
      right: 1rem;
      padding: 4px;
      border: 1px solid var(--primary-color);
      background: var(--primary-bg);
      cursor: pointer;
      visibility: hidden;
  }
    
  .closeIcon {
      display: none;
  }
    
  .showMenu {
      transform: translateY(0);
  /* } */

/* only show hamburger on smaller screens */
/* @media only screen and (max-width: 600px) {
      nav {
          visibility: hidden;
      }
      .menu {
          visibility: visible;
      }
      .hamburger {
          visibility: visible;
      }
  } */
/* SingleProduct.module.css */
.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 0 auto;
}

.back-btn {
  align-self: flex-start;
}

#back-btn {
  color: gray;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 20px;
}

.singleproduct-img {
  max-width: 100%;
  max-height: 400px;
  object-fit: contain;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

#spform {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type='number'] {
  width: 60px;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.spstyle {
  background-color: rgb(90, 56, 56);
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-right: 5px;
}
.admin-buttons {
  display: flex;
  gap: 5px; /* Add some gap between the buttons */
}

button:hover {
  background-color: gray;
}

/* CART STYLING */
.Shopping-Cart {
  border: 15px;
  border-color: black;
  font-size: 13px;
  background-color: #282828;
}
