@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,200&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

#app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: aliceblue;
}

#main-container {
  border: 1px solid;
}





