@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,200&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  background-color: aliceblue;
}

#app-container {
  height: 100vh;
  margin: 0;
}

/* NAVBAR */
.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: bisque;
}

.logo-name {
  display: flex;
  justify-content: space-between;
  width: 12%;
}

#logo-img {
  overflow: hidden;
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  border: 1px solid;
  border-radius: 15px;
}

.all-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  margin-right: 20px;
}

.nav-bar-links {
  text-decoration: none;
  color: black;
}

/* Home Page/All Products */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.coffee-container {
  width: 200px;
  border: 1px solid;
  margin: 10px;
}

.coffee-img {
  overflow: hidden;
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  border: 1px solid;
  border-radius: 15px;
}

.sort-search-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}





